<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Consultar Vendas</title>
</head>
<body>
    <h1>Lista de Vendas</h1>
    <a href="/api/vendas/novo">Adicionar Venda</a><br><br>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>ID do Cliente</th>
                <th>Data da Venda</th>
                <th>Valor Total</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% vendas.forEach(venda => { %>
                <tr>
                    <td><%= venda.id %></td>
                    <td><%= venda.cliente_id %></td>
                    <td><%= venda.data_venda %></td>
                    <td>R$ <%= venda.valor_total %></td>
                    <td>
                        <a href="/api/vendas/<%= venda.id %>">Editar</a> |
                        <form action="/api/vendas/excluir/<%= vendas.id %>?_method=DELETE" method="POST" style="display:inline;" onsubmit="return confirm('Tem certeza que deseja excluir?');">
                            <button type="submit">Excluir</button>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
